<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
	<!--begin: Search -->
<!--	<kt-search-dropdown></kt-search-dropdown>-->
	<!--end: Search -->
	<!--begin: Notifications -->
<!--	<kt-notification [type]="'brand'"-->
<!--		[skin]="'light'"-->
<!--		[icon]="'flaticon2-bell-alarm-symbol'"-->
<!--		[useSVG]="false"></kt-notification>-->
	<!--end: Notifications -->
	<!--begin: Quick actions -->
	<kt-quick-action [bgImage]="'./assets/media/misc/bg-1.jpg'"
		[skin]="'dark'"
		[icon]="'flaticon2-gear'"
		[useSVG]="false"></kt-quick-action>
	<!--end: Quick actions -->
	<!--begin: My Cart -->
<!--	<kt-cart [bgImage]="'./assets/media/misc/bg-1.jpg'"-->
<!--		[icon]="'flaticon2-shopping-cart-1'"-->
<!--		[useSVG]="false"></kt-cart>-->
	<!--end: My Cart -->
	<!--begin: Language bar -->
<!--	<kt-language-selector></kt-language-selector>-->
	<!--end: Language bar -->
	<!--begin: User bar -->
	<kt-user-profile [greeting]="false" [user]="userDetails" [avatar]="true"></kt-user-profile>
	<!--end: User bar -->
</div>
<!-- end:: Header Topbar -->
