<div ngbDropdown placement="bottom-right" *ngIf="user" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<div class="kt-header__topbar-user" [ngClass]="{'kt-header__topbar-icon': icon}">
			<span class="kt-header__topbar-welcome kt-hidden-mobile" *ngIf="greeting">Hi,</span>
			<span class="kt-header__topbar-username kt-hidden-mobile" *ngIf="greeting">{{user.fullname}}</span>
			<i *ngIf="icon" class="flaticon2-user-outline-symbol"></i>
			<img *ngIf="avatar && profileImageUrl" alt="Pic" [attr.src]="profileImageUrl">
			<img *ngIf="avatar && !profileImageUrl" alt="" class="img-circle" src="./assets/media/icons/genericAvatar.png" onerror="this.onerror=null;this.src='static/img/genericAvatar.png';">
			<span *ngIf="badge" class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">{{user.fullname|firstLetter}}</span>
		</div>
	</div>
	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
		<!--begin: Navigation -->
		<div class="kt-notification">
<!--			<a ngbDropdownItem routerLink="profile" href="javascript:;" class="kt-notification__item">-->
<!--				<div class="kt-notification__item-icon">-->
<!--					<i class="flaticon2-hourglass kt-font-brand"></i>-->
<!--				</div>-->
<!--				<div class="kt-notification__item-details">-->
<!--					<div class="kt-notification__item-title kt-font-bold">-->
<!--						My Tasks-->
<!--					</div>-->
<!--					<div class="kt-notification__item-time">-->
<!--						latest tasks and projects-->
<!--					</div>-->
<!--				</div>-->
<!--			</a>-->
			<div class="kt-notification__custom">
				<a href="javascript:;" (click)="logout()" class="btn btn-outline-brand btn-upper btn-sm btn-bold">Sign Out</a>
			</div>
		</div>
		<!--end: Navigation -->
	</div>
</div>
