<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container 'kt-container--fluid'">
		<div class="kt-footer__copyright">
			{{today | date:'yyyy'}}&nbsp;&copy;&nbsp;Compass Group. All Rights Reserved.
		</div>
		<div class="kt-footer__menu">
			<kt-scroll-top></kt-scroll-top>
		</div>
	</div>
</div>
<!-- end:: Footer -->
